@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'logo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Giants-Inline.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  font: 400 16px/1.5 exo, ubuntu, 'segoe ui', helvetica, arial, sans-serif;
  font-family: 'NotoSans Kr', sans-serif;
  text-align: center;
}

@layer components {
}
