@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500;900&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

#__next {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
}

:root {
  width: 100%;
  --color-white: #ffffff;
  --color-light-gray: #d1d1d1;
  --color-gray: #777777;
  --color-dark-gray: #515151;
  --color-black: #111111;
  --color-blue: #3b4890;
  --color-light-blue: #5365cc;
  --color-dark-blue: #132069;
  --color-red: #ff4848;
  --color-dark-red: #d31900;
  --weight-thin: 100;
  --weight-regural: 500;
  --weight-thick: 900;
  --size-text: 12px;
  --size-sub-title: 15px;
  --size-title: 18px;
  --padding-text: 5px 10px;
  --padding-content: 10px 20px;
  --padding-half: 5px;
  --padding-solo: 10px;
  --padding-side: 20px;
  --padding-base: 0 calc((100% - 1280px) / 2);
  --margin-small: 10px;
  --margin-content: 10px 20px;
  --margin-solo: 20px;
  --border-content: solid 1px var(--color-light-blue);
  --border-text: solid 1px var(--color-light-gray);
  --border-dash: dashed 1px;
  --border-solid: solid 1px;
}

input {
  outline: none;
  border: none;
}

button {
  border: none;
}
