@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500;900&display=swap');
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

#__next {
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
}

a {
  cursor: pointer;
}

:root {
  --color-gray: #777777;
  --color-black: #111111;
  --weight-thin: 100;
  --weight-regural: 500;
  --weight-thick: 900;
  --size-text: 12px;
  --size-sub-title: 18px;
  --size-title: 21px;
  --padding-text: 5px 10px;
}
